/* header property */
h1 {
    color:white)
}
/* list properties */
ul li {
   color:rgb(192, 3, 3);
   font-weight: 300px;
   font-size: 20px;
  
}
/* header 2 info */
h2 {
    text-align: center;
}





